<html>
    <head>
        <meta charset="UTF-8">
        <link href="/styles.css" rel="stylesheet">
        <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">-->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div ng-app="IRRemoteController">
            <div ng-controller="MainController as $ctrl">
                <div class="button-row"
                     ng-repeat="button in $ctrl.buttonsPressed | orderBy:'-timestamp' track by $index"
                     ng-bind="button">
                </div>
                <select id="device-selector"
                        ng-model="$ctrl.selectedDevice"
                        ng-init="$ctrl.selectedDevice = $ctrl.devices[0]"
                        ng-options="device.name for device in $ctrl.devices"
                        ng-change="$ctrl.selectElement($ctrl.selectedDevice)"></select>

                <div class="button-holder">
                    <h1 ng-bind="$ctrl.selectedDevice.name"></h1>
                    <div class="button-row"
                         ng-repeat="buttonRow in $ctrl.selectedDevice.buttons track by $index">
                        <rc-button button="button"
                                   ng-class="{ '_deactivated' : !button }"
                                   ng-repeat="button in buttonRow track by $index"></rc-button>
                    </div>
                </div>
            </div>
        </div>

        <script src="http://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>-->
        <script src="https://code.angularjs.org/1.6.1/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
        <script src="/bundle.min.js"></script>
    </body>
</html>